/* Contenedor principal de la tabla */
.tabla-container {
  width: 100vw; /* Ocupa todo el ancho de la ventana */
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: auto;
}

/* Título */
.tabla-container h3 {
  margin-bottom: 1rem;
}

/* Filtros */
.filters-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem; /* Añadimos espacio entre los filtros */
  flex-wrap: wrap; /* Permite que los elementos se acomoden si no caben en una fila */
}

.filter-input {
  padding: 0.5rem;
  width: 200px; /* Tamaño fijo */
  max-width: 100%; /* Asegura que no se desborde */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para el select */
.select-style {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 200px; /* Ajusta el ancho del select */
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.select-style:focus {
  outline: none;
  border-color: #007bff;
}

/* Estilo para el botón */
.btn-exportar {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn-exportar:hover {
  background-color: #0056b3;
}

.btn-exportar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Tabla */
.tabla-productos {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px; /* Evita que las celdas se colapsen si hay muchas columnas */
}

.tabla-productos thead {
  background-color: #f5f5f5;
}

.tabla-productos th,
.tabla-productos td {
  padding: 0.75rem;
  text-align: left;
}

.tabla-productos tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Paginación */
.paginacion {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.paginacion button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.paginacion button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
